@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
<head>
	<title>Strata by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="#" class="image avatar"><img src="~/css/images/avatar.jpg" alt="" /></a>
			<h1>
				<strong>Elliott Kroh</strong>, a University of Oklahoma
				Mechanical Engineering Student<br />
				Graduating in May 2023
			</h1>
		</div>
	</header>

	<!-- Main -->
	<div id="main">

		<!-- Zero -->
		<header class="major">
			<h2>Elliott Kroh</h2>
		</header>
		<!-- One -->
		<section id="one">
			<header class="major">
				<h2>
					Senior Resume<br />
				</h2>
			</header>
			<h3>Experimental Engineer | Textron Aviation | May 2022 – August 2022</h3>
			<ul>
				<li>Developed mechanical tools in experimental flight test environments</li>
				<li>Completed software development of two flight instrumentation applications</li>
				<li>Increased efficiency and reduced complexity of existing processes</li>
				<li>Chosen to present Intern Presentation to CEO out of 300 other interns</li>
			</ul>
			<h3>Senior Capstone | Textron Aviation | August 2022 – Present</h3>
			<ul>
				<li>Committed to designing and manufacturing longitudinal seat tracking mechanism</li>
				<li>Using GD&T to reduce wobble in business jet seat</li>
			</ul>
			<h3>Senior Capstone | Textron Aviation | August 2022 – Present</h3>
			<ul>
				<li>Committed to designing and manufacturing longitudinal seat tracking mechanism</li>
				<li>Using GD&T to reduce wobble in business jet seat</li>
			</ul>
			<h3>Main Skills</h3>
			<ul>
				<li>Mechanical Engineering</li>
				<li>Software Engineering</li>
				<li>Leadership</li>
			</ul>
			<ul class="actions">
				<li><a href="#" class="button">Full Resume</a></li>
			</ul>
		</section>

		<!-- Two -->
		<section id="two">
			<h2>Recent Work</h2>
			<div class="row">
				<article class="col-6 col-12-xsmall work-item">
					<a href="~/css/images/fulls/slb.png" class="image fit thumb"><img src="~/css/images/fulls/slb.png" alt="" /></a>
					<h3>Low-Pressure Reciprocating</h3>
					<p>Led operation of this experimental system to collect pressure leakage data</p>
				</article>
				<article class="col-6 col-12-xsmall work-item">
					<a href="~/css/images/fulls/uvsensor.jpg" class="image fit thumb"><img src="~/css/images/fulls/uvsensor.jpg" alt="" /></a>
					<h3>Aruduino UV Sensor</h3>
					<p>Designed and built sensor to measure UV Radiation from the Sun</p>
				</article>
			</div>
			
		</section>

		<!-- Three -->
		<section id="three">
			<h2>Get In Touch</h2>
			<div class="row">
				@*<div class="col-8 col-12-small">
					<form method="post" action="#">
						<div class="row gtr-uniform gtr-50">
							<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
							<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
							<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
						</div>
					</form>
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
					</ul>*@
				</div>
				<div class="col-4 col-12-small">
					<ul class="labeled-icons">
						<li>
							<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
							(918) 645-7667
						</li>
						<li>
							<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
							<a href="#">krohresolutions@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
		</section>



	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span> </a></li>
				<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; KrohSolutions</li>
				<li>Design: Elliott Kroh</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	\
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery.poptrox.min.js"></script>
	<script src="~/js/browser.min.js"></script>
	<script src="~/js/breakpoints.min.js"></script>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/main.js"></script>

</body>
</html>
